.nav_links {
    padding: 30px 120px;
    display: flex;
    justify-content: space-evenly;
}
.nav_links nav {
    display: flex;
    flex-direction: column;
}
.nav_links nav a {
    text-decoration: none;
    color: #070316;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}
.footer_btm {
    padding: 30px 150px;
    display: flex;
    justify-content: space-evenly;    
}
.rights {
    display: flex;
    flex-direction: column;
}
.rights nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rights a {
    text-decoration: none;
    color: #070316;
    margin: 10px;
}
.rights nav b {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
}
.rights nav small {
    font-size: 14px;
}
.app {
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app p {
    color: #008325;
    margin: 10px;
}
.app button {
    background: inherit;
    border: none;
    margin: 5px;
}
.app img {
    height: 35px;
}
.res_app {
    display: none;
}
@media only screen and (max-width: 850px) { 
.nav_links {
    padding: 30px 20px;
    flex-wrap: wrap;
    border-top: 2px solid #D60701;
    border-bottom: 2px solid #D60701;
}
.nav_links nav {
    width: 47%;
    margin: 10px 0;
}
.nav_links nav a {
    font-size: 14px;
    height: 30px;
    margin: 7px 0;
}
.footer_btm {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.rights nav {
    display: flex;
    flex-wrap: wrap;
}
.rights a {
    width: 50%;
    display: flex;
    margin: 10px 0;
}
.rights nav b {
    margin: 10px auto;
}
.rights nav small {
    margin: 0 auto;
}
.app {
    display: none;
}
.res_app {
    margin: 20px 0;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.res_app p {
    color: #008325;
    margin: 10px;
    font-size: 14px;
}
.res_app button {
    background: inherit;
    border: none;
    margin: 5px;
}
.res_app img {
    height: 35px;
}    
}