.hero {
    height: 550px;
    background-size: 100% 100%;
    color: white;
    display: flex;
    position: relative;
    overflow-x: hidden;
}
.hero_back {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.hero_next {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.hero_back:hover, .hero_next:hover {
    opacity: 0.5;
}
.hero section {
    min-width: 100%;
    width: 100%;
    padding: 120px;
    transition: transform 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
}
.hero h3 {
    font-size: 20px;
}
.hero h2 {
    font-size: 45px;
}
.hero h1 {
    font-size: 70px;
}
.major_keys, .hero_keys {
    color: white;
    display: flex;
    justify-content: space-between;
}
.hero_keys {
    padding: 0 120px;
    margin-top: -70px;
}
.major_keys {
    padding: 50px 120px;
    background-image: url(./../assets/line.png);
    background-repeat: no-repeat;
    background-position: bottom 80px left 0px;
    background-repeat: repeat-x;
}
.key {
    z-index: 11111;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.key img {
    width: 40px;
    height: 40px;
}
.key span {
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
}
.key small {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}
.key:first-of-type {
    margin-left: 0;
    background-color: #05440F;
}
.key:nth-of-type(2) {
    background-color: #00640F;
}
.key:nth-of-type(3) {
    background-color: #008325;
}
.key:last-of-type {
    margin-right: 0;
    background-color: #D60701;
}
@media only screen and (max-width: 850px) { 
.hero {
    min-height: 400px;
    height: fit-content;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.hero_back {
    left: 10px;
    width: 20px;
    height: 20px;
}
.hero_next {
    right: 10px;
    width: 20px;
    height: 20px;
}
.hero section {
    padding: 50px 20px;
    justify-content: center;
}
.hero h3 {
    font-size: 16px;
}
.hero h2 {
    font-size: 25px;
}
.hero h1 {
    font-size: 30px;
}
.major_keys, .hero_keys {
    display: flex;
    flex-direction: column;
}
.hero_keys {
    padding: 0 20px;
    margin-top: -30px;
}
.major_keys {
    padding: 30px 20px;
    background-image: unset; 
}
.key {
    width: 100%;
    margin: 10px 0;
}
.key span {
    font-weight: 600;
    font-size: 18px;
}
}
.policy {
    display: flex;
    flex-direction: column;
}
.policy h2 {
    font-size: 25px;
    margin: 50px;
    color: #D60701;
}
.policy > div {
    height: 320px;
    display: flex;
    color: white;
    padding: 0 100px;
    background-color: #008325;
}
.pol_statement {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.pol_statement h3 {
    font-size: 25px;
    margin: 50px 0;
}
.pol_statement p {
    font-size: 18px;
    line-height: 1.6
}
.pol_statement a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
.key_pol {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.key_pol section {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
}
.key_pol div {
    min-width: 100%;
    width: 100%;
    transition: transform 0.8s ease-in-out;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}
.key_pol div::-webkit-scrollbar {
    display: none;
}
.key_pol div nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}
.key_pol div nav img {
    width: 60px;
    height: 60px;
    margin: 10px;
}
.key_pol > nav img {
    margin: 0 10px;
    cursor: pointer;
}
.key_pol > nav img:hover {
    opacity: 0.5;
}
@media only screen and (max-width: 850px) { 
.policy {
    display: flex;
    flex-direction: column;
}
.policy h2 {
    font-size: 23px;
    margin: 50px 20px;
}
.policy > div {
    height: fit-content;
    flex-direction: column;
    padding: 0 20px;
}
.pol_statement {
    width: 100%;
}
.pol_statement h3 {
    font-size: 23px;
    margin: 20px 0;
}
.pol_statement p {
    font-size: 16px;
}
.key_pol {
    width: 100%;
    padding: 0;
}
.key_pol section {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
}
.key_pol div {
    margin: 20px 0;
    min-width: 100%;
    width: 100%;
    transition: transform 0.8s ease-in-out;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.key_pol div nav {
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
}
.key_pol div nav img {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.key_pol > nav img {
    margin: 0 10px 20px;
}
}
.about {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h3 {
    color: #D60701;
    font-size: 25px;
}
.about div {
    display: flex;
}
.about div img {
    height: 80%;
    margin: auto 0 0;
}
.about div div {
    padding: 40px 40px 0;
    display: flex;
    flex-direction: column;
}
.about div p {
    margin: 10px 0;
    line-height: 1.6;
}
.meet {
    height: 700px;
    padding: 100px;
    color: white;
    background-color: #D60701;
    background-image: url(./../assets/meet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}
.meet h2 {
    font-size: 40px;
    margin: 50px 0;
}
.meet p {
    width: 45%;
    font-size: 18px;
    line-height: 1.6;
}
.meet button {
    margin: 30px 0;
    padding: 0 20px;
    width: fit-content;
    height: 40px;
    color: white;
    background-color: #D60701;
    border: none;
    border-radius: 5px;
}
@media only screen and (max-width: 850px) { 
.about {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about h3 {
    font-size: 23px;
    margin: 20px 0;
}
.about div {
    flex-direction: column;
}
.about div img {
    height: calc(100% - 40px);
    width: 100%;
    margin: auto 0 0;
}
.about div div {
    padding: 0;
}
.meet {
    height: fit-content;
    padding: 20px;
    background-size: cover;
    background-position: 70% 70%;
}
.meet h2 {
    font-size: 30px;
}
.meet p {
    width: 100%;
    font-size: 16px;
}
}
.story {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.story h3 {
    font-size: 25px;
    margin: 70px 0;
    color: #D60701;
}
.story > div {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
}
.story > div nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.story nav span {
    padding: 0 20px;
    margin: 1px 0;
    font-size: 16px;
    color: #008325;
    box-shadow: 0 0 5px 0 #78CC90;
    display: flex;
    align-items: center;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}
.story nav span:hover {
    background-color: #008325;
    color: white;
}
.story nav span.decade {
    background-color: #008325;
    color: white;
}
.story figure {
    height: auto;
    width: fit-content;
}
.story figure img {
    width: 100%;
    height: 100%;
}
.story_para {
    overflow-y: hidden;
    height: 380px;
    display: flex;
    flex-direction: column;
}
.story_para  section {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.8s ease-in-out;
}
.story_para section p {
    color: #525253;
    line-height: 1.6;
}
@media only screen and (max-width: 850px) { 
.story {
    padding: 0 20px;
}
.story h3 {
    font-size: 23px;
    margin: 40px 0;
}
.story > div {
    display: flex;
    flex-direction: column;
}
.story > div nav {
    order: 2;
}
.story nav span {
    padding: 20px;
}
.story figure {
    order: 1;
    margin: 10px 0;
}
.story_para {
    order: 3;
    margin: 10px 0;
    height: 400px;
}
.story_para  section {
    justify-content: space-evenly;
}
.story_para section p {
    font-size: 14px;
}
}
.why {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why h3 {
    font-size: 25px;
    margin: 70px 0;
    color: #D60701;
}
.why section {
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.why div{
    min-height: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    transition: transform 0.8s ease-in-out;
}
.why div > img {
    width: 200px;
    height: 200px;
}
.why p {
    width: 50%;
    padding: 0 30px;
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
.why p small,
.why p span {
    color: #525253;
    margin: 5px 0;
}
.why nav {
    display: flex;
    flex-direction: column;
}
.why nav img {
    margin: 5px 0;
    cursor: pointer;
}
.why nav img:hover {
    opacity: 0.5;
}
.why button {
    background-color: #F4F4F4;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 10px 0 rgb(197, 192, 192);
}
@media only screen and (max-width: 850px) { 
.why {
    padding: 0 20px;
}
.why h3 {
    font-size: 23px;
    margin: 40px 0;
}
.why section {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.why div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-width: 100%;
}
.why div > img {
    width: 150px;
    height: 150px;
}
.why p {
    width: 100%;
    padding: 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
}
.why nav {
    display: flex;
    flex-direction: row;
}
.why nav img {
    margin: 10px 5px;
}
.why button {
    display: none;
}
}
.team {
    padding: 120px;
    display: flex;
    line-height: 1.6;
}
.team div {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.team div h4 {
    font-size: 16px;
}
.team div strong {
    font-size: 30px;
    margin: 10px 0;
}
.team > a {
    display: none;
}
.team div a {
    text-decoration: none;
    color: #D60701;
    margin-top: 30px;
}
.team nav {
    width: 70%;
    height: 300px;
    padding: 0 25px;
    position: relative;
}
.team nav figure {
    min-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}
.team nav figure::-webkit-scrollbar {
    display: none;
}
.team nav figure img {
    height: 100%;
    margin: 0 10px;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}
.team .team_back {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    height: fit-content;
}
.team .team_next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    height: fit-content;
}
.team_back:hover, .team_next:hover {
    opacity: 0.5;
}
@media only screen and (max-width: 850px) { 
.team {
    padding: 50px 20px;
    flex-direction: column;
}
.team div {
    width: 100%;
}
.team div h4 {
    font-size: 16px;
}
.team div strong {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.team > a {
    display: block;
    text-decoration: none;
    color: #D60701;
    margin-top: 15px;
}
.team div strong br {
    display: none;
}
.team div a {
    display: none;
}
.team nav {
    margin: 20px 0;
    width: 100%;
    height: 200px;
    padding: 0;
}
.team nav figure img:first-of-type {
    margin-left: 0;
}
.team .team_back {
    display: none;
}
.team .team_next {
    display: none;
}
}
.events {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}
.events h3 {
    font-size: 25px;
    color: #D60701;
    margin-bottom: 30px;
}
.events > div {
    display: flex;
}
.event {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.event div {
    background-image: url(./../assets/events.png);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.event div section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    background-color: rgba(0, 131, 37, 0.5);;
}
.event div strong {
    margin: 60px 0 20px;
    font-size: 18px;
    font-weight: 700;
}
.event div section > span {
    font-size: 14px;
    display: flex;
    align-items: center;
}
.event div span img, .event div p span img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
.event div p {
    display: flex;
    margin: 15px 0;
}
.event div p span {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 14px;
}
.event div nav {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
}
.event div nav img {
    margin: 5px 0;
}
.event div button {
    background: inherit;
    color: white;
    border: 2px solid #FFB400;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    margin: 15px 0 40px;
}
.event > nav {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 30px;
}
.event > nav button {
    height: 40px;
    margin: 1px;
    font-size: 12px;
    color: #D60701;
    background-color: white;
    border: none;
    box-shadow: 0 0 5px 0 rgb(192, 189, 189);
    display: flex;
    align-items: center;
    justify-content: center;
}
.event > nav button img {
    width: 15px;
    height: 15px;
}
.event > nav button:first-of-type {
    margin-left: 0;
}
.event > nav button:last-of-type {
    margin-right: 0;
}
.event_updates {
    width: 55%;
    padding: 0 70px;
}
.event_updates h1 {
    font-size: 40px;
    margin-bottom: 40px;
}
.event_updates p {
    width: 65%;
    line-height: 1.6;
    margin: 10px;
    color: rgb(0, 0, 0, 0.6);
}
.event_updates label {
    margin: 10px 0;
    display: flex;
    height: 50px;
    width: 90%;
}
.event_updates label input {
    background-color: #F9F1F1;
    padding: 0 20px;
    width: 80%;
    border: none;
}
.event_updates label button {
    background-color: #008325;
    color: white;
    width: 20%;
    border: none;
}
@media only screen and (max-width: 850px) { 
.events {
    padding: 0 20px;
    margin: 20px 0;
}
.events h3 {
    font-size: 23px;
    margin-bottom: 15px;
}
.events > div {
    flex-direction: column;
}
.event {
    width: 100%;
    flex-direction: column;
}
.event div {
    width: 100%;
    height: calc(100vw - 40px);
}
.event div section {
    width: 100%;
    padding: 0 15px;
}
.event div strong {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 700;
}
.event_updates {
    width: 100%;
    padding: 0;
}
.event_updates h1 {
    font-size: 25px;
    margin: 30px 0 20px;
}
.event_updates h1 br {
    display: none;
}
.event_updates p {
    width: 100%;
    margin: 20px 0;
}
.event_updates label {
    height: 50px;
    width: 100%;
}
.event_updates label input {
    width: 100%;
}
.event_updates label button {
    width: fit-content;
    padding: 0 10px;
}   
}
.member {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 80px 0;
    justify-items: center;
    position: relative;
}
.member > div {
    padding: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #00360F;
}
.member > div p {
    font-size: 30px;
    font-weight: 800;
}
.member > div nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.member > div nav img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}
.member > div button {
    background-color: #D60701;
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    padding: 0 10px;
}
.member > img {
    height: auto;
    width: 100%;
}
.mobile_alert {
    background: white;
    position: absolute;
    bottom: -80px;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px 0 rgb(192, 189, 189);
}
.mobile_alert div {
    padding: 0 20px;
    margin: 5px 0;
    display: flex;
}
.mobile_alert div:first-of-type p {
    display: none;
}
.mobile_alert p {
    width: 50%;
    font-size: 14px;
    opacity: 0.5;
}
.mobile_alert p:last-of-type {
    font-size: 12px;
}
.mobile_alert strong {
    width: 50%;
    color: #008325;
    font-size: 20px;
}
.mobile_alert label {
    display: flex;
    height: 40px;
    width: 50%;
}
.mobile_alert label input {
    background-color: #F9F1F1;
    padding: 0 20px;
    width: 80%;
    border: none;
}
.mobile_alert label button {
    background-color: #008325;
    color: white;
    width: 20%;
    border: none;
}
@media only screen and (max-width: 850px) { 
.member { 
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    position: relative;
}
.member > div {
    width: 100vw;
    padding: 20px;
    margin-top: -30%;
    order: 2;
}
.member > div p {
    font-size: 25px;
    font-weight: 700;
}
.member > div nav {
    width: 100%;
}
.member > div nav img {
    height: 50px;
    width: 50px;
}
.member > div button {
    padding: 0 10px;
}
.member > img {
    order: 1;
    height: auto;
    width: 100%;
}
.mobile_alert {
    position: unset;
    order: 3;
    width: 100%;
    padding: 30px 0;
}
.mobile_alert div {
    padding: 0 20px;
    margin: 5px 0;
    flex-direction: column;
}
.mobile_alert div:first-of-type p {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    opacity: 0.5;
}
.mobile_alert div:last-of-type p:first-of-type {
    display: none;
}
.mobile_alert div:last-of-type p:last-of-type {
    font-size: 14px;
    width: 100%;
}
.mobile_alert strong {
    width: 100%;
}
.mobile_alert label {
    margin: 10px 0;
    height: 40px;
    width: 100%;
}
.mobile_alert label input {
    width: 100%;
}
.mobile_alert label button {
    width: fit-content;
    padding: 0 10px;
}
}
.shop {
    padding: 100px;
    display: flex;
    line-height: 1.6;
}
.shop div {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.shop div h4 {
    font-size: 16px;
}
.shop div strong {
    font-size: 30px;
    margin: 10px 0;
}
.shop div a {
    text-decoration: none;
    color: #D60701;
    margin-top: 30px;
}
.shop nav > a {
    display: none;
}
.shop nav {
    width: 70%;
    height: 350px;
    padding: 0 25px;
    position: relative;
}
.shop nav section {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}
.shop nav section::-webkit-scrollbar {
    display: none;
}
.shop nav div {
    min-width: 31%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.8s ease-in-out;
}
.shop nav div img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.shop nav div h4 {
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}
.shop nav div h4:hover {
    color: #008325;
}
.shop nav div small {
    font-size: 16px;
    color: #CC6E00;
}
.shop .shop_back {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    height: fit-content;
}
.shop .shop_next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    height: fit-content;
}
.shop_back:hover, .shop_next:hover {
    opacity: 0.5;
}
@media only screen and (max-width: 850px) { 
.shop {
    padding: 50px 20px;
    flex-direction: column;
}
.shop div {
    width: 100%;
}
.shop div h4 {
    font-size: 16px;
}
.shop div strong {
    font-size: 25px;
}
.shop div strong br {
    display: none;
    margin: 5px 0;
}
.shop div a {
    display: none;
}
.shop nav > a {
    display: block;
    text-decoration: none;
    color: #D60701;
    margin-top: 15px;
}
.shop nav {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 10px 0;
}
.shop nav section {
    height: 100%;
}
.shop nav div {
    min-width: 45%;
}
.shop nav div:first-of-type {
    margin-left: 0;
}
.shop nav div img {
    height: 250px;
}
.shop nav div h4 {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
}
.shop nav div small {
    font-size: 14px;
}
.shop .shop_back {
    display: none;
}
.shop .shop_next {
    display: none;
}
}
.donate {
    margin: 50px 100px;
    display: flex;
}
.donate div {
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donate div:first-of-type {
    background-color: #008325;
}
.donate div:last-of-type {
    background-color: #D60701;
}
.donate div p {
    text-align: center;
    line-height: 1.6;
    margin: 10px 0;
}
.donate div nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.donate div nav button {
    margin: 0 2px;
    padding: 0 5px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    background-color: inherit;
    cursor: pointer;
}
.donate div nav button:hover {
    background-color: white;
    color: #008325;
}
.donate div:first-of-type button:last-of-type {
    background-color: white;
    color: #008325;
}
.donate div:last-of-type button:hover {
    color: #008325;
    background-color: white;
}
.donate div:first-of-type button:last-of-type:hover {
    opacity: 0.7;
}
.donate div:last-of-type button:last-of-type {
    background-color: white;
    color: #D60701;
}
.donate div:last-of-type button:hover {
    color: #D60701;
    background-color: white;
}
.donate div:last-of-type button:last-of-type:hover {
    opacity: 0.7;
}
@media only screen and (max-width: 850px) { 
.donate {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}
.donate div {
    padding: 20px;
}
.donate div h3 {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.donate div nav {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
}
.donate div nav button {
    margin: 8px;
}
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.media h3 {
    font-size: 25px;
    color: #D60701;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(0, 131, 37, 1);
}
.media > div {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.media div nav {
    color: white;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.media div nav > img {
    height: 60px;
    width: 60px;
}
.media div nav p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}
.media div nav button {
    padding: 10px;
    margin: auto auto 50px;
    width: fit-content;
    height: 50px;
    border: none;
    background-color: white;
    color: #008325;
    cursor: pointer;
}
.media div nav button:hover {
    opacity: 0.7;
}
.media div nav div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}
.media div nav div img {
    width: 48%;
    margin: 5px 0;
    object-fit: cover;
}
.media div nav figure {
    margin: 15px 0;
}
.media div figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media div nav:first-of-type {
    background-color: #05440F;
}
.media div nav:nth-of-type(2) {
    background-color: #00640F;
}
.media div nav:nth-of-type(3) {
    background-color: #008325;
}
.media div nav:nth-of-type(4) {
    background-color: #D60701;
}
@media only screen and (max-width: 850px) { 
.media {
    padding: 20px;
    align-items: flex-start;
}
.media h3 {
    font-size: 23px;
}
.media > div {
    padding: 0;
    display: flex;
    flex-direction: column;
}
.media div nav {
    margin: 10px 0;
}
.media div nav > img {
    height: 40px;
    width: 40px;
}
}
